*{margin:auto;}

#wrapper {
	width: 1330px;
	height: 1000px;
	background: -webkit-linear-gradient(top, #5CB3FF , #FFFFFF); 
}

#header {
	width: 1230px;
	height: 160px;
	margin-left: 50px;
	margin-right: 50px;
}

#naslovi {
	margin-left: 40px;
	text-align: left;
	width: 600px;
	height: 160px;
}

#naslovi h3 {
	color:#153E7E;
	font-weight: bold;
	font-family: 'Calibri';
	font-size: 22px;
	margin-left: 150px;
	padding-top: 30px;
	padding-left: 10px;
}

#naslovi h1 {
	font-family: 'Brush Script MT';
	color: #FFF380;
	font-size: 60px;
	margin-left: 150px;
	margin-top: -30px;
	padding-top: 20px;
	padding-left: 10px;
}

#naslovi img {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin-top: -100px;
	margin-left: 10px;
	margin-bottom: 50px;
}

#logout {
	float: right;
	padding: 30px;
	margin-top: -100px;
}

#logout a {
	padding: 20px;
	border-radius: 20%;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 37px;
	padding-right: 37px;
	margin-right: 30px;
	border: 5px solid #488AC7;
}

section  {
	float: right;
	padding: 30px;
	margin-top: -115px;
}

section a {
	padding: 20px;
	border-radius: 20%;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 37px;
	padding-right: 37px;
	margin-right: 30px;
	border: 5px solid #488AC7;
	background-color:#56A5EC;
}

#content {
	width: 1230px;
	height: 475px;
	margin-left: 50px;
	margin-right: 50px;
}

#leftSide {
	width: 400px;
	height: 400px;
	float: left;
	margin-top: 20px;
}

#leftSide li {
	list-style-type: none;
	border-bottom: 1px solid #FFF380;
	border-radius: 8%;
	box-shadow: -10px 10px 5px #FFF380;
	background-color: #82CAFA;
}

.first a {
	display: block;
	padding: 30px;
	color:#153E7E;
	font-size: 17px;
	font-family: 'CASTELLAR';
	font-weight: bold;
	text-decoration: none;
}

#leftSide a:hover {
	background-color: #FFE87C;
	border-radius: 5%;
}

#rightside {
	width: 830px;
	height: 400px;
	float: right;
}

#rightSide img {
	width: 800px;
	height: 405px;
	margin-top: 22px;
	margin-left: 5px;
	border-radius: 3%;
	box-shadow: 10px 10px 5px #FFF380;
}

hr {
	width: 1230px;
	height: 10px;
	background-color: #153E7E;
}

#nextPart {
	width: 1230px;
	height: 300px;
	margin-left: 50px;
	margin-right: 50px;
	padding:10px 10px 10px 10px;
}

.three {
	width: 370px;
	height: 270px;
	float: left;
	border: 1px dotted #153E7E;
	margin: 5px;
	border-radius: 5%;
}

#interesting h2 {
	padding-left: 10px;
	padding-top: 10px;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	color:#153E7E;
}

#interesting p {
	font-family: sans-serif;
	font-size: 15px;
	padding: 5px;
	margin-top: 6px;
	font-weight: bold;
	text-align: center;
}

#interesting a {
	text-decoration: none;
	color: blue;
	float: right;
	padding-right: 10px;
}

#text h2 {
	padding-left: 10px;
	padding-top: 10px;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	color:#153E7E;
	padding-top:-15px;
	text-align: center;
}

#text p {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
}

#footer {
	height: 50px;
	font-family: sans-serif;
	font-size: 15px;
	margin-left: 50px;
	margin-right: 50px;
}

#copy{
	padding-top: 10px;
}

#find p {
	text-align: right;
	margin-top: -5px;
	margin-right: 60px;
}

#find img {
	margin-top: -13px;
	border-radius: 5%;
	float: right;
}

#video h2 {
	padding-left: -20px;
	padding-top: 10px;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	color:#153E7E;
}

#video {
	padding-top: -10px;
	margin-bottom: 20px;
	padding-right: 10px;;
	padding-left: 50px;
}